@import 'partials/base'
@import 'partials/limbs'
@import 'partials/head'
@import 'partials/clouds'

$blue: #2c89cc

@keyframes upDown
  0%
    margin-top: 0
  50%
    margin-top: 5px
  100% 
    margin-top: 0
@-webkit-keyframes upDown
  0%
    margin-top: 0
  50%
    margin-top: 5px
  100% 
    margin-top: 0


body
  margin: 0
  background: #8eccff


// Tabino

.tabino
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  -webkit-transform: translate(-50%,-50%)
  animation: upDown .3s infinite
  -webkit-animation: upDown .3s infinite
  z-index: 10
  &:hover 
    .eye
      background: transparent
      width: 12px
      height: 10px
      overflow: hidden
      &:after
        right: 0px
        top: 0px
        width: 6px
        height: 16px
        border-radius: 50px/100px
        border: 2px solid #0a0404
        background: transparent
    .beak
      &:before
        bottom: 5px
        background: #f36f24
      &:after
        content: ""
        position: absolute
        bottom: 12px
        height: 20px
        width: 40px
        @include background-gradient(#fdb44d,#e89210)

.body
  position: absolute
  left: 50%
  transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  width: 40px
  height: 40px
.chest
  position: absolute
  left: 50%
  transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  width: 40px
  height: 40px
  @include border-radius(40px)  
  @include background-gradient(#4a9ede,#2381bb)


// Earth

.earth_wrap
  position: absolute
  display: inline-block
  bottom: 0px
  left: 50%
  width: 100%
  height: 100%
  transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  overflow: hidden

.earth
  position: absolute
  display: inline-block
  bottom: -300px
  left: 50%
  width: 100%
  height: 400px
  transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  background: #259dff
  border-radius: 100%/100%
  box-shadow: 0px 0px 100px rgba(255,255,255,0.5)
